10. Trabajando con los contenidos de los archivos que pueden acceder en el curso:
• nombres
• eval1
5
• eval2
Manipule estos archivos para realizar lo siguiente:
• Generar una estructura con los nombres de los estudiantes y la suma de ambas notas.
• Calcular el promedio de las notas totales e informar que alumnos obtuvieron menos que el
promedio.

In [20]:
nombres=['Agustin','Alan','Andrés', 'Ariadna', 'Bautista', 'CAROLINA', 'CESAR', 'David', 'Diego', 'Dolores', 'DYLAN', 'ELIANA', 'Emanuel', 'Fabián', 'Facundo', 'Facundo', 'FEDERICO', 'FEDERICO', 'GONZALO', 'Gregorio', 'Ignacio', 'Jonathan', 'Jonathan', 'Jorge', 'JOSE', 'JUAN', 'Juan', 'Juan', 'Julian', 'Julieta', 'LAUTARO', 'Leonel', 'LUIS', 'Luis', 'Marcos', 'María', 'MATEO', 'Matias', 'Nicolás', 'NICOLÁS', 'Noelia', 'Pablo', 'Priscila', 'TOMAS', 'Tomás', 'Ulises', 'Yanina']
aval1=[81, 60, 72, 24, 15, 91, 12, 70, 29, 42, 16, 3, 35, 67, 10, 57, 11, 69, 12, 77, 13, 86, 48, 65, 51, 41, 87, 43, 10, 87, 91, 15, 44, 85, 73, 37, 42, 95, 18, 7, 74, 60, 9, 65, 93, 63, 74]
aval2=[30, 95, 28, 84, 84, 43, 66, 51, 4, 11, 58, 10, 13, 34, 96, 71, 86, 37, 64, 13, 8, 87, 14, 14, 49, 27, 55, 69, 77, 59, 57, 40, 96, 24, 30, 73, 95, 19, 47, 15, 31, 39, 15, 74, 33, 57, 10]
nombres_y_notas = []
sumar_dos_num= lambda a, b : a + b
sumar_con_nombres = lambda nombres,total: (nombres,total) 
total_notas= 0

for i in range(len(nombres)): 
    nombres_y_notas.append(sumar_con_nombres(nombres[i], sumar_dos_num(aval1[i],aval2[i])))
    total_notas+=sumar_dos_num(aval1[i],aval2[i])

prom = total_notas/len(nombres_y_notas)

for n in nombres_y_notas:
    if n[1] < prom:
        print(n[0])

CESAR
Diego
Dolores
DYLAN
ELIANA
Emanuel
GONZALO
Gregorio
Ignacio
Jonathan
Jorge
JUAN
Julian
Leonel
Nicolás
NICOLÁS
Priscila
Yanina

11. Con la información de los archivos de texto que se encuentran disponibles en el curso:
• nombres_1
• nombres_2
• Indique los nombres que se encuentran en ambos. Nota: pruebe utilizando list comprehension.
• Genere tres variables con la lista de notas y nombres que se incluyen en los archivos: nombres_1, eval1.txt y eval2.txt e imprima con formato los nombres de los estudiantes con las
correspondientes nota y la suma de ambas como se ve en la imagen

In [37]:
nombres_1=['Agustin','Alan','Andrés', 'Ariadna', 'Bautista', 'CAROLINA', 'CESAR', 'David', 'Diego', 'Dolores', 'DYLAN', 'ELIANA', 'Emanuel', 'Fabián', 'Facundo', 'Facundo', 'FEDERICO', 'FEDERICO', 'GONZALO', 'Gregorio', 'Ignacio', 'Jonathan', 'Jonathan', 'Jorge', 'JOSE', 'JUAN', 'Juan', 'Juan', 'Julian', 'Julieta', 'LAUTARO', 'Leonel', 'LUIS', 'Luis', 'Marcos', 'María', 'MATEO', 'Matias', 'Nicolás', 'NICOLÁS', 'Noelia', 'Pablo', 'Priscila', 'TOMAS', 'Tomás', 'Ulises', 'Yanina']
nombres_2=[ 'Ariana', 'Bautista', 'Braian', 'Carla', 'CESAR', 'Daniel', 'Diego', 'ELIANA', 'Facundo', 'Facundo', 'Facundo', 'Facundo', 'Federico', 'Federico', 'Flavia', 'Francisco', 'Germán', 'Guido', 'GUSTAVO', 'Hilario', 'Ignacio', 'IVAN', 'Jimmy', 'Joaquín', 'Jose', 'Josue', 'JUAN', 'Juan', 'Laura', 'LAURA', 'Lautaro', 'Lautaro', 'Ludmila', 'Marcos', 'Marcos', 'MARIANELA', 'MARTIN', 'MATEO', 'Mateo', 'Matias', 'MAURO', 'Maximiliano', 'NESTOR', 'Nicolas', 'Pedro', 'Ramiro', 'Sofía', 'Tobias', 'Tomás', 'Tomás', 'Ulises', 'Yanina']
nombres_en_los_dos= [n for n in nombres_2 if n in nombres_1]
print(nombres_en_los_dos)
print("{:<2} {:<15} {:<8} {:<8} {:<8}".format(' ','Nombre','aval1','aval2', 'total'))
for i in range(len(nombres)):
    print ("{:<2} {:<15} {:<8} {:<8} {:<8}".format(i, nombres[i],aval1[i],aval2[i], (aval1[i]+aval2[i])))

['Bautista', 'CESAR', 'Diego', 'ELIANA', 'Facundo', 'Facundo', 'Facundo', 'Facundo', 'Ignacio', 'JUAN', 'Juan', 'Marcos', 'Marcos', 'MATEO', 'Matias', 'Tomás', 'Tomás', 'Ulises', 'Yanina']
   Nombre          aval1    aval2    total
0  Agustin         81       30       111
1  Alan            60       95       155
2  Andrés          72       28       100
3  Ariadna         24       84       108
4  Bautista        15       84       99
5  CAROLINA        91       43       134
6  CESAR           12       66       78
7  David           70       51       121
8  Diego           29       4        33
9  Dolores         42       11       53
10 DYLAN           16       58       74
11 ELIANA          3        10       13
12 Emanuel         35       13       48
13 Fabián          67       34       101
14 Facundo         10       96       106
15 Facundo         57       71       128
16 FEDERICO        11       86       97
17 FEDERICO        69       37       106
18 GONZALO         12       64       76
19 Gregorio        77       13       90
20 Ignacio         13       8        21
21 Jonathan        86       87       173
22 Jonathan        48       14       62
23 Jorge           65       14       79
24 JOSE            51       49       100
25 JUAN            41       27       68
26 Juan            87       55       142
27 Juan            43       69       112
28 Julian          10       77       87
29 Julieta         87       59       146
30 LAUTARO         91       57       148
31 Leonel          15       40       55
32 LUIS            44       96       140
33 Luis            85       24       109
34 Marcos          73       30       103
35 María           37       73       110
36 MATEO           42       95       137
37 Matias          95       19       114
38 Nicolás         18       47       65
39 NICOLÁS         7        15       22
40 Noelia          74       31       105
41 Pablo           60       39       99
42 Priscila        9        15       24
43 TOMAS           65       74       139
44 Tomás           93       33       126
45 Ulises          63       57       120
46 Yanina          74       10       84